{% extends 'layout.html.twig' %}

{% block title %}
    | Agregar protocolo
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-10 offset-md-1">
            {% if protocolos %}
                <h4>Protocolos del proyecto "{{ proyecto.nombre }}"</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Titulo</th>
                            <th scope="col">Fecha Inicio</th>
                            <th scope="col">Fecha Fin</th>
                            <th scope="col">Modo ejecucion</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Puntaje</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for protocolo in protocolos %}
                            <tr>
                                <td>{{protocolo.nombre}}</td>
                                <td>{{protocolo.fechaInicio}}</td>
                                <td>{{protocolo.fechaFin}}</td>
                                <td>
                                    {% if protocolo.esLocal == 1 %}
                                        <span class="label label-primary">Local</span>
                                    {% else %}
                                        <span class="label label-warning">Remoto</span>
                                    {% endif %}
                                </td>
                                <td>{{protocolo.estado}}</td>
                                <td>{{protocolo.puntaje}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-success" role="alert">
                    Aún no hay protocolos cargados en este proyecto.
                </div>
            {% endif %}

            <button type="submit" class="btn btn-success botonAgregarProtocolo">Agregar protocolo</button>
        </div>



        <div class="col-md-6 offset-md-3 agregarProtocolo">
            <h4>Agregar protocolo</h4>
            <form method="POST" name="agregar_protocolo" action="./?action=agregarProtocoloAction">

                <input type="hidden" name="idProyecto" id="idProyecto" value="{{ proyecto.id_proyecto }}">
                <div class="form-group row">
                    <label for="nombre" class="col-sm-3 col-form-label">Nombre del protocolo:</label>
                    <div class="col-sm-6">
                        <input type="nombre" class="form-control" name="nombre" id="nombre" placeholder="Ingrese el nombre del protocolo" required>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="esLocal" class="col-sm-3 col-form-label">Es local?</label>
                    <div class="col-sm-6">
                        <select class="custom-select" name="esLocal">
                            <option value="1" selected>Si</option>
                            <option value="2">No</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="fechaInicio" class="col-sm-3 col-form-label">Fecha inicio:</label>
                    <div class="col-sm-6">
                        <input type="date" class="form-control" name="fechaInicio" id="fechaInicio" placeholder="Ingrese la fecha de inicio del proyecto" required>
                    </div>
                </div>


                <div class="form-group row">
                    <label for="fechaFin" class="col-sm-3 col-form-label">Fecha fin:</label>
                    <div class="col-sm-6">
                        <input type="date" class="form-control" name="fechaFin" id="fechaFin" placeholder="Ingrese la fecha de fin del proyecto" required>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="fechaFin" class="col-sm-3 col-form-label">Seleccione un responsable:</label>
                    <div class="col-sm-6">
                        {% for user in usuarios %}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="responsable" id="{{ user.username }}" value="{{ user.id }}" checked>
                                <label class="form-check-label" for="{{ user.username }}">
                                    {{ user.username }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Agregar protocolo</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="js/agregarProtocolo.js"></script>
{% endblock %}


