{% extends 'layout.html.twig' %}

{% block title %}
    | Agregar protocolo
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-8 offset-md-2">
            {% if protocolos %}
                <h4 class="text-center" style="margin-bottom: 40px" >Protocolos del proyecto "{{ proyecto.nombre }}"</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Titulo</th>
                            <th scope="col">Fecha Inicio</th>
                            <th scope="col">Fecha Fin</th>
                            <th scope="col">Modo ejecucion</th>
                            <th scope="col">Orden</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Puntaje</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for protocolo in protocolos %}
                            <tr>
                                <td>{{protocolo.nombre}}</td>
                                <td>{{protocolo.fechaInicio}}</td>
                                <td>{{protocolo.fechaFin}}</td>
                                <td>
                                    {% if protocolo.esLocal == 1 %}
                                        <span class="label label-primary">Local</span>
                                    {% else %}
                                        <span class="label label-warning">Remoto</span>
                                    {% endif %}
                                </td>
                                <td>{{protocolo.orden}}</td>
                                <td>{{protocolo.estado}}</td>
                                <td>{{protocolo.puntaje}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-success" role="alert">
                    Aún no hay protocolos cargados en este proyecto.
                </div>
            {% endif %}

            <div style="margin-top: 40px">
                <a href="./?action=proyectos" type="button" class="btn btn-secondary" data-dismiss="modal">Volver</a>
                <a href="./?action=finalizar_configuracion" type="button" class="btn btn-success" data-dismiss="modal" style="float: right; margin-left: 10px">Finalizar configuracion</a>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" style="float: right;">Agregar protocolo</button>

            </div>

            {% include 'agregarProtocoloModal.html.twig' %}

        </div>





    </div>
{% endblock %}

{% block scripts %}
    <script src="web/js/agregarProtocolo.js"></script>
{% endblock %}


