{% extends 'layout.html.twig' %}

{% block title %}
	| Configuracion de los protocolos
{% endblock %}

{% block main %}
	<section class="container">

		{% if proyectos %}
        <h1>Configuracion de los protocolos</h1>
        {% for proyecto in proyectos %}
          <table class="table">
            <caption>{{ proyecto.proyecto.getNombre }}</caption>
            {% for protocolo in proyecto.protocolos %}
              <thead>
                {% if protocolo.getIdResponsable == null %}
                  <tr>
                    <th scope="col">Nombre del protocolo</th>
                    <th scope="col">Configurar</th>
                  </tr>
                  {% else %}
                  <tr>
                    <th scope="col">Nombre del protocolo</th>
                    <th scope="col">Id del responsable</th>
                    <th scope="col">Fecha de inicio</th>
                    <th scope="col">Fecha de fin</th>
                    <th scope="col">Orden</th>
                    <th scope="col">Es local (valor = 1)</th>
                    <th scope="col">Estado</th>
                  </tr>
                {% endif %}
              </thead>
              <tbody>

                  {% if protocolo.getIdResponsable == null %}
                    <tr>
                      <td>{{ protocolo.getNombre }}</td>
                      <td>
                        <form class="" method="post" id="formConfiguracionProtocolo{{ protocolo.getIdProtocolo }}" name="formConfiguracionProtocolo" onsubmit="return false;"> <!-- Configuracion Protocolo -->
                              <input type="hidden" name="id_protocolo" value="{{ protocolo.getIdProtocolo }}" id="id_protocolo">
                              <div class="form-group" id="formIdResponsable">
                                <label for="forIdResponsable">Responsable del Protocolo</label>
                                <div class="input-group">
                                    <select class="" aria-label="Responsable" name="id_responsable" id="id_responsable">
                                        {% for responsable in responsables %}
                                          <option value={{ responsable.getId }}>{{ responsable.getUsername }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                              </div>
                              <div class="form-group" id="formFechaInicio">
                                <label for="forFechaInicio">Fecha Inicio</label>
                                <div class="input-group ">
                                  <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-calendar"></span></span>
                                  <input id="fecha_inicio" type="date" autofocus required title="Solo puede ingresar fechas." name="fecha_inicio" class="form-control">
                                </div>
                              </div>
                              <div class="form-group" id="formFechaFin">
                                <label for="forFechaFin">Fecha Fin</label>
                                <div class="input-group ">
                                  <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-calendar"></span></span>
                                  <input id="fecha_fin" type="date" autofocus required title="Solo puede ingresar fechas." name="fecha_fin" class="form-control">
                                </div>
                              </div>
                              <div class="form-group" id="formOrden">
                                <label for="forOrden">Orden del protocolo</label>
                                <div class="input-group">
                                  <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-calendar"></span></span>
                                  <input id="orden" type="text" autofocus required title="Orden de ejecucion" name="orden" class="form-control" value="1">
                                </div>
                              </div>
                              <div class="form-group" id="formEsLocal">
                                <label for="">Es local (value = 1)</label>
                                <div class="input-group">
                                  <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-calendar"></span></span>
                                  <input id="es_local" type="text" autofocus required title="1 si la ejecucion es local" name="es_local" class="form-control" value="1">
                                </div>
                              </div>
                              <div id="{{ protocolo.getIdProtocolo }}">
                                <input class="btn btn-success conf" type="submit" name="configurar_protocolo" id="configurar_protocolo" value="Configurar">
                              </div>
                        </form>
                        <p class="hidden" id="textoExito{{ protocolo.getIdProtocolo }}"><strong><span class="glyphicon glyphicon-ok"></span> Protocolo configurado exitosamente!</strong></p><br><br>
                        
                      </td>
                    </tr>
                    {% else %}
                      <tr>
                        <td>{{ protocolo.getNombre }}</td>
                        <td>{{ protocolo.getIdResponsable }}</td>
                        <td>{{ protocolo.getFechaInicio }}</td>
                        <td>{{ protocolo.getFechaFin }}</td>
                        <td>{{ protocolo.getOrden }}</td>
                        <td>{{ protocolo.getEsLocal }}</td>
                        <td>{{ protocolo.getEstado }}</td>
                      </tr>
                  {% endif %}
                {% endfor %}
              </tbody>
          </table>
        {% endfor %}
        
    {% else %}
      <div class="alert alert-success" role="alert">
        No hay proyectos cargados.
      </div>
  {% endif %}
  </section>
  <section class="container">
    <form method="POST" name="instanciacion" action="./?action=instanciacion">
        <div class="form-group" id="formNombreProyecto">
          <label for="nameProyecto">Nombre del Proyecto</label>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
            <input type="text" class="form-control" name="name_proyecto" id="name_proyecto" required="required">
          </div>
        </div>

        <input class="btn btn-success" type="submit" name="instanciar" id="instanciar" value="Instanciar"><br><br>

      </form>
  </section>

{% endblock %}
{% block scripts %}
<script src="js/configuracionProtocolo.js"></script>
{% endblock %}