{% extends 'layout.html.twig' %}

{% block title %}
	| Configuracion de los protocolos
{% endblock %}

{% block main %}
	<section class="container">

		{% if proyectos %}
        <h1>Configuracion de los protocolos</h1>
        {% for proyecto in proyectos %}
          <table class="table">
            <caption>{{ proyecto.proyecto.getNombre }}</caption>
            <thead>
              <tr>
                <th scope="col">Nombre del protocolo</th>
                <th scope="col">Id del responsable</th>
                <th scope="col">Fecha de inicio</th>
                <th scope="col">Fecha de fin</th>
                <th scope="col">Orden</th>
                <th scope="col">Es local (valor = 1)</th>
                <th scope="col">Estado</th>
              </tr>
            </thead>
            <tbody>
              {% for protocolo in proyecto.protocolos %}
                {% if protocolo.getIdResponsable == null %}
                  <tr>
                    <td>{{ protocolo.getNombre }}</td>
                  </tr>
                  {% else %}
                    <tr>
                      <td>{{ protocolo.getNombre }}</td>
                      <td>{{ protocolo.getIdResponsable }}</td>
                      <td>{{ protocolo.getFechaInicio }}</td>
                      <td>{{ protocolo.getFechaFin }}</td>
                      <td>{{ protocolo.getOrden }}</td>
                      <td>{{ protocolo.getEsLocal }}</td>
                      <td>{{ protocolo.getEstado }}</td>
                    </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        {% endfor %}
        
    {% else %}
      <div class="alert alert-success" role="alert">
        No hay proyectos cargados.
      </div>
  {% endif %}
  </section>
  <section class="container">
    <form method="POST" name="instanciacion" action="./?action=instanciacion">
        <div class="form-group" id="formNombreProyecto">
          <label for="nameProyecto">Nombre del Proyecto</label>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
            <input type="text" class="form-control" name="name_proyecto" id="name_proyecto" required="required">
          </div>
        </div>

        <input class="btn btn-success" type="submit" name="instanciar" id="instanciar" value="Instanciar"><br><br>

      </form>
  </section>

{% endblock %}