{% extends 'layout.html.twig' %}

{% block title %}
	| Protocolos
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <h1>Protocolos</h1>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Proyecto</th>
                    <th scope="col">Estado proyecto</th>
                    <th scope="col">Orden proyecto</th>
                    <th scope="col">Protocolo</th>
                    <th scope="col">Fecha Inicio</th>
                    <th scope="col">Fecha Fin</th>
                    <th scope="col">Modo ejecucion</th>
                    <th scope="col">Estado protocolo</th>
                    <th scope="col">Puntaje</th>
                    <th scope="col">Orden</th>
                    <th scope="col">Accion</th>
                </tr>
                </thead>
                <tbody>
                {% for protocolo in protocolos %}
                    <tr>
                        <td>{{protocolo.proyecto_nombre}}</td>
                        <td>{{protocolo.proyecto_estado}}</td>
                        <td>{{protocolo.proyecto_orden}}</td>
                        <td>{{protocolo.protocolo_nombre}}</td>
                        <td>{{protocolo.protocolo_fecha_inicio}}</td>
                        <td>{{protocolo.protocolo_fecha_fin}}</td>
                        <td> {% if protocolo.protocolo_es_local == 1 %}
                                <span class="label label-primary">Local</span>
                            {% else %}
                                <span class="label label-warning">Remoto</span>
                            {% endif %}
                        </td>
                        <td>{{protocolo.protocolo_estado}}</td>
                        <td>{{protocolo.protocolo_puntaje}}</td>
                        <td>{{protocolo.protocolo_orden}}</td>
                        <td>
                            {% if protocolo.protocolo_estado == 'pendiente' and protocolo.proyecto_estado == 'configuracion' and protocolo.protocolo_orden == protocolo.proyecto_orden %}
                                <a href="./?action=ejecutar&n={{ protocolo.protocolo_id }}" type="button" class="btn btn-primary btn-sm">Ejecutar</a>
                            {% elseif protocolo.proyecto_estado == 'terminado'%}
                                <a href="./?action=notificarJefe&n={{ protocolo.protocolo_id }}" type="button" class="btn btn-warning btn-sm">Notificar resultados al Jefe de proyecto</a>
                            {% elseif protocolo.proyecto_estado == 'notificado'%}
                                <a href="./?action=notificarJefe&n={{ protocolo.protocolo_id }}" type="button" class="btn btn-warning btn-sm disabled">Notificar resultados al Jefe de proyecto</a>
                            {% else %}
                                <a href="#" type="button" class="btn btn-primary btn-sm disabled">Ejecutar</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
